*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

body{
    height: 100vh;
}
#app{
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-areas: 
        "header" 
        "content"
        "footer";
    
    -webkit-animation: fadein 800ms; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 800ms; /* Firefox < 16 */
    -ms-animation: fadein 800ms; /* Internet Explorer */
    -o-animation: fadein 800ms; /* Opera < 12.1 */
    animation: fadein 800ms;
    }
    
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    
    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }


.header{
    font-size: 1.5rem;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: mediumslateblue;
}

.footer{
    padding-right: 20px;
    font-size: 1rem;
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    background-color: mediumslateblue;
}

.content{
    position: relative;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 800px ;
}

.button-area{
    display: flex;
    justify-content: space-around;
}


.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.message > p{
    margin: 0;
    padding: 10px;
}

.close-message{
    color: #444;
    position: absolute;
    top: 8px;
    right: 8px;
}

#overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: rgba(0,0,0,0.6);

}

.finished-task{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: #eee;
    border-radius: 10px;
    min-height: 80px;
    padding: 0;
}

.finished-task > .float-left > h4{
    font-size: 1.2rem;
    margin: 0;
}

.float-right{
    display: flex;
    justify-content: flex-end;
}

.fas, .far{
    transition: all linear 100ms;
}

i:hover{
    transform: scale(1.2);
}

i.fa-check{
    color: green;
}
i.fa-check:hover{
    transform: none;
    color: green;
}

.dark-theme{
    color: #fff;
    
}